body {
    margin: auto 0;
    font-family: 'Helvetica';
    text-align: center;
    max-width: 150%;
}
.form-group {
    margin-bottom: 1rem;
}

#search {
    color: #fff;
    background-color: #5e1f50;
    font-size: 1.2rem;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: 25px;
}

button {
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.container {
    padding: 20px;
    margin: 0 auto;
    width: 100%;

}

#inputValue {
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem .75rem;
    line-height: 1.5;
    outline: none;
    color: #496057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 25px;
}

.movie {
    margin-bottom: 20px;
}

#movie-searchable {
    margin-top: 20px;
    margin-bottom: 50px;
}

section {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

section img {
    width: 250px;
    transition: 250ms all;
}

img {
    margin-left: 20px;

}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.1);
    cursor: pointer;
}

.content {
    border: 1px solid gray;
    display: none;
    padding: 20px;
}

.content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display {
    display: block;
}

iframe {
    margin-top: 10px;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(80, 79, 79);
    outline: 1px solid slategrey;
  }

  #content-close {
      font-weight: bolder;
      border: 1px solid black;
      width: 100px;
      height: 20px;
      margin: auto;
      border-radius: 25px;
      background-color:black;  
      color: white;
      cursor: pointer;
  }
